<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>康敏敏</string>
		<key>tip</key>
		<string>通过平台共收益现金</string>
		<key>money</key>
		<string>208</string>
		<key>image</key>
		<string>avatar1</string>
		<key>age</key>
		<string>90后</string>
		<key>city</key>
		<string>北京</string>
		<key>job</key>
		<string>金融</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李达</string>
		<key>tip</key>
		<string>通过平台共收益现金</string>
        <key>money</key>
        <string>178</string>
		<key>image</key>
		<string>avatar2</string>
		<key>age</key>
		<string>90后</string>
		<key>city</key>
		<string>北京</string>
		<key>job</key>
		<string>学生</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小花猫</string>
		<key>tip</key>
		<string>通过平台共收益现金</string>
        <key>money</key>
        <string>342</string>
		<key>image</key>
		<string>avatar3</string>
		<key>age</key>
		<string>80后</string>
		<key>city</key>
		<string>南京</string>
		<key>job</key>
		<string>IT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亚历山大</string>
		<key>tip</key>
		<string>通过平台共收益现金</string>
        <key>money</key>
        <string>338</string>
		<key>image</key>
		<string>avatar4</string>
		<key>age</key>
		<string>90后</string>
		<key>city</key>
		<string>杭州</string>
		<key>job</key>
		<string>其他</string>
	</dict>
</array>
</plist>
