<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>timg-1</string>
		<key>title</key>
		<string>针灸减肥有效吗？针灸减肥的五大效果</string>
		<key>usedTimes</key>
		<string>1244</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails6.html</string>
	</dict>
    <dict>
        <key>image</key>
        <string>timg-2</string>
        <key>title</key>
        <string>秋季减肥 不如试试这些</string>
        <key>usedTimes</key>
        <string>174</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails5.html</string>
    </dict>
    <dict>
        <key>image</key>
        <string>timg-3</string>
        <key>title</key>
        <string>减肥偏方 十个最神奇的快速减肥小偏方</string>
        <key>usedTimes</key>
        <string>264</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails4.html</string>
    </dict>
    <dict>
        <key>image</key>
        <string>timg-4</string>
        <key>title</key>
        <string>减肥食品 健康的减肥食品有哪些?</string>
        <key>usedTimes</key>
        <string>244</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails3.html</string>
    </dict>
    <dict>
        <key>image</key>
        <string>timg-5</string>
        <key>title</key>
        <string>瘦脸的方法最快最有效是哪种？</string>
        <key>usedTimes</key>
        <string>140</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails2.html</string>
    </dict>
    <dict>
        <key>image</key>
        <string>timg-6</string>
        <key>title</key>
        <string>丰胸食谱 助你经期减肥不瘦胸</string>
        <key>usedTimes</key>
        <string>198</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails1.html</string>
    </dict>
    <dict>
        <key>image</key>
        <string>timg-7</string>
        <key>title</key>
        <string>惊呆了！减肥学会这几招 狂瘦不反弹</string>
        <key>usedTimes</key>
        <string>178</string>
        <key>url</key>
        <string>http://test.ywvx.com/zhongtui/jfarticleDetails1.html</string>
    </dict>
</array>
</plist>
