<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>40前</string>
	<string>40后</string>
	<string>50后</string>
	<string>60后</string>
	<string>70后</string>
	<string>80后</string>
	<string>90后</string>
	<string>00后</string>
	<string>10后</string>
</array>
</plist>
